<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitalia - À propos</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Rufina:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vitalia_app/css/connexion.css' %}">
</head>
<body>



  <footer>
    <p>&copy; 2025 Vitalia. Tous droits réservés. Projet CY Tech.</p>
    <a href="/messages">Admin</a>
  </footer>
</body>
</html>
