{% extends "base.html" %}
{% load static %}

{% block title %}Vitalia - Connexion{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'vitalia_app/css/contact.css' %}">
{% endblock %}

{% block content %}
<main>
  <h1>Connexion</h1>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  {% if success %}
    <p style="color: green;">{{ success }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Envoyer</button>
  </form>

  <p style="margin-top: 1rem;">
    <a href="{% url 'reinit_password_custom' %}" class="forgot-link">🔑 Mot de passe oublié ?</a>
  </p>
</main>
{% endblock %}
