{% extends "base.html" %}
{% load static %}

{% block title %}Vitalia - Contact{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vitalia_app/css/contact.css' %}">
{% endblock %}

{% block content %}
<main>
  <h1>Contactez-nous</h1>

  {% if success %}
    <p style="color: green;">Votre message a bien été envoyé ! ✅</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Envoyer</button>
  </form>
</main>
{% endblock %}
